
.vs/Сема/v15/.suo
.vs/Сема/v15/Server/sqlite3/db.lock
.vs/Сема/v15/Server/sqlite3/storage.ide
.vs/Сема/v15/Server/sqlite3/storage.ide-shm
.vs/Сема/v15/Server/sqlite3/storage.ide-wal
.vs/Сема/v16/.suo
.vs/Сема/v16/Server/sqlite3/db.lock
.vs/Сема/v16/Server/sqlite3/storage.ide
